/* couleur */

$blanc : #ffffff;
$gris60 : #999999;
$gris93 : #ededed;
$rouge : #ae2123;

$background_1 : #543973;
$background_2 : #3B2851;
$background_3 : #6d4a95;
$background_4 : rgba(255, 255, 255, 0.7);

$color_1 : #d4c7e4;
$color_2 : #cccccc;


/* font-family */

$font : 'BenchNine', sans-serif;


/* font-size */

$fs1rem : 1rem;
$fs3rem : 3rem;
$fs1_25em : 1.25em;
$fs1_35rem : 1.35rem;
$fs2_4rem : 2.4rem;


/* line-height */

$lh1_2rem : 1.2rem;
$lh1_3rem : 1.3rem;
$lh1_5rem : 1.5rem;


/* taille */

$t0 : 0;
$t0_5em : 0.5em;
$t1em : 1em;
$t1_5em : 1.5em;
$t1rem : 1rem;
$t1_5rem : 1.5rem;
$t3rem : 3rem;